.container {
    display: grid;
    gap: 16px;
    padding: 24px;
    max-width: 560px;
    margin: 0 auto;
}

.form {
    display: grid;
    gap: 12px;
}

.row {
    display: grid;
    gap: 6px;
}

.appContainer {
    display: flex;
    align-items: start;
    justify-content: center;
    height: 100%;
    gap: 30px;
    padding: 30px;
}

.appContainer img {
    width: 280px;
}

.contentContainer {
    padding: 15px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    background-color: #fff;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}